/* .btn-container {
    position: flex;
    padding: 20px; 
     background-color:2px solid #777;
    border: white; 
    border-radius: 7px;
    margin: auto;

    cursor: pointer; 
} */

.cart-btn-bottom{
    /* padding: 20px solid #777;
    border: 2px solid #56CCF2;
    border-radius: 7px;
    padding:  10px;
    position: center; */
    display: flex;
    padding: 15px;
    background-color: #777;
    border: none;
    border-radius: 7px;
    margin: auto;
    cursor: pointer;
}
.cart-bottom{
    text-decoration: none;
    color: #56CCF2;
    font-size: 16px;
    font-weight: 700;
}