*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.items{
    display:center;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: white;
 
}

.card{
    font-family: "Metal Mania";
    text-align: center;
    display: center;
    padding: 20px;
    font-size: 30px;
}