.cart-items{
    margin: 30px auto;
    width: 60%;
    background-color: skyblue;
    border-radius: 2px solid black;
    border-radius: 5px;
}

.cart-items-header{
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    align-items: center;
    height: 50px;
    border-bottom: 2px solid black;
}

.empty-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
}
.item-image{
    width: 100px;
    height: auto;
    border: 1px solid black;
    margin-right: 20px;
}
.item-list{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 5%;
}
.item-name,
.item-function{
    width: 25%;
}

.item-add,
.item-remove{
    width: 30px;
    margin-right: 15px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.item-add{
    background-color: red;
}

.item-remove{
    background-color: green;
}

.item-add:active{
    transform: translateY(1.2px);
}
.item-remove:active{
    transform: translateY(1.2px);
}

.total-price-name{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 22%;
    font-size: 20px;
    font-weight: 700;
    border-top: 2px solid black;
}

.total-price{
    display: flex;
    padding-left: 45%;
    
}